@font-face {
    font-family: "Roboto";
    src: url(https://fonts.googleapis.com/css2?family=Roboto);
}

* {
    font-family: Roboto;
}

.header {
    display: flex;
    align-items: center;
}

.Home_Icon {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.Presentation {
    font-family: Roboto;
    font-size: 80px;
    color: white;
    margin-left: 100px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.Search {
    font-size: 24px;
    color: white;
}

button{
    color: black;
    font-size: 14px;
}

ul {
    list-style: none;
    font-size: 35px;
    padding: 0;
    font-family: Roboto; 
    color: white;
    
}


li {
    display: inline-block;
    width: auto;
    position: relative;
}

a {
    text-align: center;
    display: block;
    color: black;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    font-family: Roboto;
}

a:hover {
    background-color: black;
    color: white;
    bottom: 0;
}

ul li:hover ul a:hover {
    background-color: black;
    color: white;
}

ul ul {
    position: absolute;
    display: none;
    width: 100%;
}

ul ul li {
    width: 100%;
}

ul li:hover ul {
    display: block;
}

h1 {
    font-family: Roboto;
    font-size: 64px;
    color: white;
    margin-top: 10px;
}

.Navbar {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    height: auto;
    box-shadow: 3px rgb(194, 32, 32);
}



body {
    background-image: url('../Imagenes/home_img.jpg');
    background-size: cover;
    background-position: 0px;
}

.band_box {
    padding: 15px;
    margin: 30px;
    border: 3px solid rgb(255, 255, 255);
    color: white;
    height: 330px;
    width: 330px;
    color: white;
    font-size: larger;
    background-color: rgb(12, 14, 14);
    place-items: center;
}

.flex_bands {
    display: flex;
    flex-wrap: wrap;
    
}

form {
    font-size: 30px;
    color: white;
}

img {
    display: flex;
    justify-content: center;
}
